:root {
  --my-red: #EB0000;
}

nav {
  height: 15%;
  background-color:black;
}

.Nav {
    background-color: black;
}

.navbar {
    padding: 0!important;
}

.nav-link > .btn {
    background-color: var(--my-red);
    color: white;
    padding: 1em 3em;
    width: 100%;
    margin-top: 1em;
    outline: none!important;
}
